@media (min-width: 300px) {
    main {
        background-color: white;
    }
}

@media (max-width: 299px) {
    main {
        background-color: yellow;
      }
}

p::selection,h2::selection, h1::selection {
    color: red;
    background-color: yellow;
}
